/* ====================== LIFTED EDUCATION - AUG 2018 ===================== */
/* 
@font-face {
  font-family: "Proxima Nova Alt Bold";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaAltBold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Light";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaAltLight.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Thin";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaAltThin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaBlack.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaExtrabold.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../assets/fonts/proxima_ssv/ProximaNovaRegular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Semibold";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Semibold.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Medium";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Medium.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Bold";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Bold.woff2") format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Black";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Black.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Black.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Light";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Light.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Heavy";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Heavy.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Ultralight";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Ultralight.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Ultralight.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Regular";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Thin";
  src: url("../assets/fonts/sfuidisplay/SFUIDisplay-Thin.woff2") format("woff2"),
    url("../assets/fonts/sfuidisplay/SFUIDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
*/
*/

/* ======================= GENERAL STYLES =========================== */
* {
  font-family: "Proxima Nova Regular", "Proxima Nova Thin", "Roboto",
    "SF UI Display Regular", sans-serif;
  letter-spacing: 0.2px;
  box-sizing: border-box;
}
body {
  font-family: "Proxima Nova Regular", "Proxima Nova Thin",
    "SF UI Display Regular", sans-serif;
  background-color: #eaeef2;
  margin: 0px;
  padding: 0px;
}
